body {
    margin: 0;
}

#dimensions {
    position: absolute;
    right: 100px;
}

table {
    display: block;
    width: max-content;
    max-height: 300px;
    overflow-y: scroll;
}
tr {
    min-width: 100px;
}
#UI {
    display: grid;
    grid-template-rows: 400px min-content auto;
    /* height: 100vh; */
}

th {
    text-align: left;
}

td:nth-child(even), th:nth-child(even) {
    background-color: #D6EEEE;
}